@use "./styles/responsive";
@use "./styles/color";
@use "./styles/font";
@use "./styles/fx/shadow";

@include responsive.desktop {
}
@include responsive.tablet {
}
@include responsive.mobile {
}
Z .ChapterItem {
  @include shadow.box(3);
  width: 100%;
  padding: 1rem;
  .title {
    font-size: 2rem;
  }
  .order {
  }
  .description {
  }
}
