$darkest-purple: #210535;
$darker-purple: #430d5b;
$basic-purple: #7b337d;
$light-purple: #c874b2;
$lighter-purple: #f5d5e0;

$darkest-blue: #062c43;
$darker-blue: #054569;
$basic-blue: #5591a9;
$light-blue: #9ccddc;
$lighter-blue: #ced7e0;

//sunset
//source:https://www.reddit.com/r/wallpaper/comments/qjkxe1/anime_sunset_color_palette_3840x2160/;
$sunset-lighter-yellow: #f1ecc8;
$sunset-light-yellow: #efe291;
$sunset-basic-yellow: #ecc36f;
$sunset-basic-peach: #e06c72;
$sunset-dark-magenta: #c93e71;
$sunset-dark-blue: #312678;
$sunset-darker-blue: #180f44;
$sunset-darkest-blue: #080326;
